:root{
    --color-pink: #DEC5E3;
    --color-red: #FF5D73;
    --color-green: #B5E48C;
    --color-blue: #1C6E8C;
    --color-light-blue: #CDEDFD;
    --border-radius: 30px;
}

*{
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
    border: 0;
}


html{
    font-size: 62.5%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
    background-color: #fff;
}

a{
    text-decoration: none;
}

.container{
    width: 90%;
    margin: 3rem auto;
}

/* Navigation bar */


.nav{
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid var(--color-pink);
    padding: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
}

.nav .list{
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav .list .brand__name a{
    color: var(--color-pink);
    white-space: nowrap;
    padding: 0 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.nav .list .about a{
    color: #000;   
    padding: 0 2rem;
    white-space: nowrap;
    font-size: 1.8rem;
    font-weight: 400;
}


/* Card */

.card {
    border-radius: var(--border-radius);
    padding: 3rem 2rem;
}

.card--info{
    background-color: var(--color-light-blue);
}

.span{
    font-weight: 700;
    text-transform: capitalize;
}

.span-pink{
    color: var(--color-pink);
}

.span-blue{
    color: dodgerblue;
}



/* Grid */



.grid{
    display: grid;
    grid-template-columns: 1fr;
}

.pomo-info p{
    font-size: 2rem;
    line-height: 1.5;
}

.more-info{
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .grid--1x2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
        ;
    }
    .pomo-info{
        height: auto;
    }
    .pomo-info p{
        font-size: 3rem;
        margin-top: 7rem;
    }
    .more-info{
        font-size: 3rem;
        text-align: center;
    }
}


/* Card section */

.card--info h2{
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin: 3rem 1rem;
}

.card--info p{
    font-size: 2.5rem;
    margin: 3rem 1rem;
}

.developer__heading{
    font-size: 4rem;
    text-align: center;
    margin: 5rem 0 3rem 0;
    color: dodgerblue;
}

.developers{
    height: auto; 
    margin: 3rem 0; 
    border-radius: var(--border-radius);
    transition: 0.5s ease-in-out;
}

.developers:hover{
    box-shadow: 0 0 40px 20px rgb(239, 237, 237); 
}

.developers img{
    border-radius: 30px 30px 0px 0px;
}


.developers a{
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
    color: var(--color-blue);
    transition: 0.5s ease-in-out;
}

.developers a:hover{
    color: dodgerblue;
}


/* Footer */

.footer{
    padding: 3rem;
    background-color: #111827;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.footer ul{
    list-style: none;
}

.footer .logo-brand a:nth-child(1){
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-pink);
}

.footer .quick-links li{
    font-size: 2rem;
    font-weight: 400;
    margin: 1rem 0;
    color: #fff;
    transition: 0.5s ease-in-out;
}

.footer .quick-links li:hover{
   color: dodgerblue;
}

.footer .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


.footer .icons .fa-brands{
    font-size: 5rem;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    transition: 0.5s ease-in-out;
    border: 0;
}

.footer .icons .fa-brands:hover{
    background-color: #fff;
    color: #111827;
    box-shadow: 0px 0px 5px 1px #fff;
}


@media screen and (min-width: 768px) {
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}
